* {
  box-sizing: border-box;
}

body {

  /* overflow-x: hidden; */
}


.custom-nav {
  flex-direction: row-reverse;
  margin-right: 20px;
  /* height: 40px; */
}

.custom-color {
  background-color: transparent;
}

.navbar-light .navbar-nav .nav-item {
  margin-right: 90px;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 1.2em;
}

.navbar-brand img {
  width: 15vw;
  border: 2px solid black;
  position: absolute;
  z-index: 9999;
  box-shadow: 0 0 40px rgb(255, 255, 255);
}


.navbar-brand img:hover {

  box-shadow: none;
}



.header {
  height: 80vh;
}


.header-image {

  height: 100%;
  position: relative;
  /* Ustaw pozycję na relative, aby umożliwić pozycjonowanie wewnętrznych elementów */
  overflow: hidden;
  /* height: 800px; */
  border-bottom: 2px solid black;
}


.header-image .img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header-text {
  box-shadow: 0 0 40px rgb(255, 255, 255);
  text-align: center;
  background-color: white;
  width: 700px;
  min-width: 200px;
  position: absolute;
  padding: 50px;
  top: 230px;
  right: 200px;
  color: black;
  font-size: 1.7em;
  font-weight: 700;
  border: 2px solid black;
}


.header-text:hover {
  box-shadow: none;

}


.header-text span {
  color: rgba(92, 150, 187, 255);
  font-size: 1.4em;
  /* text-decoration: underline; */
}

.about-box {

  background-color: rgba(92, 150, 187, 255);
}

.custom-row {
  padding: 30px;
}

.about-box>h2 {
  padding-top: 50px;
  margin: auto;
  color: white;
  text-align: center;
  width: 1200px;
  font-family: sans-serif;
  font-style: italic;
}

.grid-section {
  padding: 20px;
  margin-top: 100px;
}

.about-img {
  height: 55%;
  text-align: center;
  margin: 50px 10px;
  box-shadow: 0 0 40px rgb(255, 255, 255);
}

.about-img:hover {
  box-shadow: 0 0 70px rgb(255, 255, 255);
}

.about-img img {
  width: 85%;
  height: 100%;
  /* object-fit: cover; */
  border: 2px solid black;

}



.about-header {
  font-style: italic;
  text-align: center;
  color: white;
  font-weight: bolder;
  /* height: 50px; */
  /* width: 400px; */
  margin: auto;
  font-size: 2.1em;
  transition: all 0.5s;
}

.about-header:hover {
  color: rgba(1, 62, 99, 0.897);
}

.about-content {
  margin: auto;
  font-size: 1.4em;
  text-align: center;
  color: white;
  width: 80%;
  margin-bottom: 150px;
}


.about-content span {
  /* rgba(239,213,229,255) */
  color: rgba(1, 62, 99, 0.897);
  text-decoration: underline;
  font-weight: bolder;
  font-style: italic;
  transition: all 0.5s;
}

.about-content span:hover {
  /* rgba(239,213,229,255) */
  color: rgba(8, 92, 144, 0.897);

}


.exp {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 60px rgb(255, 255, 255);
}

.img-box {
  flex-basis: 33.3%;
  /* overflow: hidden; */
  /* height: 100%; */
  transition: all 0.5s;

}

.img-box:hover {
  box-shadow: 0 0 130px rgb(255, 255, 255);
}

.img-box.custom img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.img-box.custom img {
  position: inherit;
}

.img-box .img-custom {
  position: absolute;
  width: 130%;
  height: 100%;
  left: -50px;
  /* object-fit: cover; */

}







.main-header-services {
  text-align: center;
  padding-top: 120px;
  color: rgba(92, 150, 187, 255);
  font-size: 2.6em;
  font-weight: bold;
  font-style: italic;
}

.services {
  background-color: rgba(246, 235, 220, 255);
}


.img-services.top {
  margin-top: 100px;
}

.img-services.bottom {
  margin-bottom: 100px;
}


.last {
  padding-bottom: 100px;
}

.img-services img {
  width: 100%;
  border-radius: 50%;
  border: 4px solid rgba(92, 150, 187, 255);
}

.services-content-box.top {
  /* margin-top: 150px; */
}

.services-content-box {
  margin-top: 100px;
  height: 70%;
  /* width: 850px; */
  /* margin-right: auto; */
  /* margin-left: auto; */
  transition: all 0.5s;
}

.services-content-box:hover {
  box-shadow: 0 0 70px rgb(255, 255, 255);
}

/* .services-content-box.bottom {
  margin-bottom: 50px;
} */

.services-content-box .btn {
  display: block;
  margin: auto;
  padding-bottom: 10px;
  border: 1px solid black;
  transition: all 1s;

}

.services-content-box .btn:hover {
  background-color: rgba(92, 150, 187, 255);

}


.services-content-box .btn a {
  color: black;
  text-decoration: none;

}

.services-content-box .btn:hover a {
  color: rgb(255, 255, 255);
  text-decoration: underline;

}


.content-services {
  width: 650px;
  margin: 40px auto;
  font-size: larger;
}


.header-services,
.content-services {
  text-align: center;

}

.header-services {
  padding-top: 60px;
  color: rgba(92, 150, 187, 255);
  font-size: 2.5em;
  font-weight: bold;

}





.prices {
  background-image: url('../images/massage-therapy-1612308_1280.jpg');
  background-size: cover;
  /* Dostosuj rozmiar obrazu do wielkości ekranu */
  background-repeat: no-repeat;
  /* Zapobiegnij powtarzaniu obrazu */
  background-position: center;
  height: 620px;
  padding-top: 150px;
}


.accordion {
  width: 900px;
  margin: auto;
  border: 4px solid rgba(92, 150, 187, 255);

}

.accordion-button {
  display: flex;
  height: 100px;
  font-size: 0.8em;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: #f5f6f7;
}


.accordion-button:hover {
  text-decoration: underline;
  color: rgba(92, 150, 187, 255)
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: gray;
  background-color: #f5f6f7;
  text-decoration: underline;
}

.accordion-body {
  color: gray;
  text-align: center;
  font-size: larger;
}

hr {
  width: 40%;
  padding-bottom: 15px;
}

/* usuniecie bootstrapowej strzałki */
.accordion-button::after {
  content: none;
}


.contact-box {
  height: 900px;
  display: flex;
  flex-wrap: wrap;
}

.form-box h3 {
  margin-top: 40px;
}

.form-box h3 span {
  color: rgba(92, 150, 187, 255);
}


.flex-item {
  flex-basis: 48%;
}

.form {
  height: 80%;
  padding: 20px 10px 60px 10px;
  display: flex;
  flex-wrap: wrap;
}

label {
  margin-top: 15px;
  font-size: larger;
  font-style: italic;
}

label,
input,
button.submit {
  flex-basis: 100%;
}


textarea {
  resize: none
}


select {
  margin-bottom: 20px;
}

button.submit {

  background-color: rgba(92, 150, 187, 255);
  border: none;
  color: white;
  border-radius: 5px;
}

button.submit:hover {
  background-color: rgb(23, 98, 130);
  border: none;
  color: white;
  border-radius: 5px;
}

.img-contact {
  height: 100%;
}

.img-contact img {
  object-fit: cover;
  height: 100%;
  border: 4px solid rgba(92, 150, 187, 255);
}


.footer {
  display: flex;
  flex-wrap: wrap;

  background-color: rgba(92, 150, 187, 255);
  padding-top: 30px;
}


span.rev {
  unicode-bidi: bidi-override;
  direction: rtl
}

span.rev.email:before {
  content: "moc."
}

span.rev.email:after {
  content: "@eciffo.niarbdoogeht :liamE"
}

span.rev.phone:before {
  content: "955 "
}

span.rev.phone:after {
  content: " 035 84+ :enohP"
}

.contactData {
  color: white;
  height: 100%;
  width: 100%;
}

.contactData p {
  font-size: 1.4em;
  padding-left: 40px;
  /* width: 700px; */
}

.contactData .info {
  font-size: 2.5em;
}

.contactData .email span,
.contactData .tel span {
  font-weight: bolder;
  padding-left: 16px;
}

.rights {
  width: 100%;
  color: white;
  text-align: center;
  margin: 0;
}


/* media */

@media screen and (max-width: 1400px) {

  .wrapper {
    position: relative;
    /* height: 800px; */
  }

  .navbar {
    top: 1;
    padding: 0;
    position: absolute;
    z-index: 0;
    width: 100%;

  }

  .container-fluid.navbar-box {
    background-color: white;
    padding-bottom: 15px;

  }


  .navbar-brand img {
    position: absolute;
    top: 50px;
    z-index: 999;
    width: 25vw;
  }

  .navbar-toggler {

    margin-left: 80%;
    margin-top: 20px;
  }

  .navbar-light .navbar-nav .nav-item {
    margin-right: 20px;
    margin-top: 15px;
  }

  .navbar-nav .nav-link {
    text-align: end;
  }

  .header-image {
    position: absolute;
    z-index: -1;
    overflow: hidden;
  }

  .header-image .img {
    width: 150%;
  }

  .header-text {
    max-width: 400px;
    font-size: 1.2em;
    top: 400px;
    right: 40px;
  }

  .header-text span {
    font-size: 1.2em;
  }


  .about-box>h2 {
    width: auto;
  }

  .exp .img-box {
    flex-basis: 100%;
  }

  .services-content-box {
    width: auto;
    height: 100%;
    padding-bottom: 30px;
    /* margin-bottom: 50px; */
    /* max-width: 500px; */
  }

  .content-services {

    width: auto;
  }

  .serv {
    height: 80%;
    padding-bottom: 20px;
  }

  .about-content {
    width: auto;
    margin: 30px auto;
  }

  .accordion {
    width: auto;
    max-width: 700px;
  }

  .img-contact img {
    height: 35%;
    display: none;
    /* padding-top: 200px; */
  }

  .img-contact.flex-item {
    flex-basis: 2%;
    padding-top: 150px;
  }

  .form-box.flex-item {
    flex-basis: 80%;
    margin: 30px auto;
  }

  .contactData {
    width: 100%;
    height: 100%;
  }


  .contactData p {
    width: 80%;
  }

  .g-recaptcha {
    width: 100%;

  }

  .g-recaptcha div {
    width: 100%;

  }

}




@media screen and (max-width: 600px) {

  .header-text {
  
    width: 150px;
    padding: 20px;
    top: 250px;
    right: 30px;
    font-size: 1em;
    font-weight: 500;
   
  }
  
  .about-img {
    height: 50%;
  
  }

  .about-img img {
    width: 90%;
    height: 100%;
    /* object-fit: cover; */
    border: 2px solid black;
  
  }

  .about-content {
    font-size: 1em;
  }

  .services-content-box .btn{
    background-color: rgba(1, 62, 99, 0.897);
    border: 1px solid  rgba(1, 62, 99, 0.897);
  
  }
  .services-content-box .btn a{
    color: white;
    
  
  }


  .accordion-button {
    font-size: 0.8em;
    font-style: italic;
  }

  .header-services  {
    font-size: 1.6em;
  }

  .content-services {
    font-size: 1em;
  }

  .img-contact.flex-item {
    display: none;
  }

  .form-box.flex-item {
    width: 100%;
  }

  .form-box.flex-item h3{
    padding-left: 15px;
    font-size: 1.1em;
    text-align: center;
  }

  .about-img {
    height: 50vh;
  }

  .about-img img {}


  .main-header-services {
    font-size: 1.8em;
  }

  .contactData {
    padding-bottom: 60px;
   
  }

  .contactData .info {
    font-size: 1.5em;
   
  }
  .contactData p{
    font-size: 1em;
   
  }

  .services-content-box {
    margin-top: 10px;
  }

  .last {
    margin-bottom: 60px;
  }

    /* .img-box.long {
    height: 50%;
  } */
    /* .form-box.flex-item label,
  .form-box.flex-item input {
    width: 40px;
  } */
  }