body {
  box-sizing: border-box;
}


.custom-nav {
  flex-direction: row-reverse;
  margin-right: 20px;
  height: 40px;
}

.custom-color {
  background-color: transparent;
}

.navbar-light .navbar-nav .nav-item {
  margin-right: 90px;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 1.2em;
}

.navbar-brand img {
  width: 250px;
  border: 2px solid black;
  position: absolute;
  z-index: 9999;
}

.header-image {
  position: relative;
  /* Ustaw pozycję na relative, aby umożliwić pozycjonowanie wewnętrznych elementów */
  overflow: hidden;
  height: 700px;
  border-bottom: 2px solid black;
}


.header-image .img {
  height: 100% !important;
  width: 100%;

}

.header-text {
  text-align: center;
  background-color: white;
  width: 650px;
  position: absolute;
  padding: 50px;
  top: 230px;
  right: 200px;
  color: black;
  font-size: 1.7em;
  font-weight: 700;
  border: 2px solid black;
}


.header-text  span {
  color: rgba(72, 163, 179, 255);
  text-decoration: underline;
}

.about-box {

  background-color: rgba(72, 163, 179, 255);
}

.custom-row {
  padding: 30px;
}

.grid-section {
  padding: 20px;
  margin-top: 100px;
}

.about-img {
  text-align: center;
  margin: 50px 10px;
}

.about-img img {
  width: 350px;
  border: 2px solid black;

}

.about-content {
  margin: auto;
  font-size: larger;
  text-align: center;
  color: white;
  width: 350px;
  margin-bottom: 150px;
}

.about-header {
  text-align: center;
  color: white;
}

.exp {
  display: flex;
  flex-wrap: wrap;
}

.img-box {
  flex-basis: 33%;
  overflow: hidden;
  height: 290px;
}

.long {
  height: 500px;
}

.img-box img {
  width: 100%;

}







.main-header-services {
  text-align: center;
  padding-top: 120px;
  color: black;
  font-size: 3.5em;
  font-weight: bold;
}

.custom-services {
  background-color: rgba(231, 187, 170, 255);
}


.img-services.top {
  margin-top: 100px;
}

.img-services.bottom {
  margin-bottom: 100px;
}


.img-services img {
  width: 100%;
  border-radius: 50%;
  border: 4px solid rgba(72, 163, 179, 255);
}

.services-content-box.top {
  margin-top: 150px;
}

.services-content-box {
  margin-top: 60px;
}

.services-content-box.bottom {
  margin-bottom: 100px;
}

.header-services,
.content-services {
  text-align: center;

}

.header-services {
  padding-top: 60px;
  color: black;
  font-size: 2.5em;
  font-weight: bold;

}

.content-services {
  width: 500px;
  margin: 80px auto;
}


.prices {
  background-image: url('../images/massage-therapy-1612308_1280.jpg');
  background-size: cover;
  /* Dostosuj rozmiar obrazu do wielkości ekranu */
  background-repeat: no-repeat;
  /* Zapobiegnij powtarzaniu obrazu */
  background-position: center;
  height: 620px;
  padding-top: 150px;
}


.accordion {
  width: 900px;
  margin: auto;
  border: 4px solid rgba(72, 163, 179, 255);

}

.accordion-button {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: #f5f6f7;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: gray;
  background-color: #f5f6f7;
  text-decoration: underline;
}

.accordion-body {
  color: gray;
  text-align: center;
}

hr {
  width: 40%;
  padding-bottom: 15px;
}

/* usuniecie bootstrapowej strzałki */
.accordion-button::after {
  content: none;
}


.contact-box {
  height: 900px;
  display: flex;
  flex-wrap: wrap;
}

.form-box h3 {
  margin-top: 40px;
}

.form-box h3 span {
 color: rgba(72, 163, 179, 255);
}


.flex-item {
  flex-basis: 48%;
}

.form {
  height: 80%;
  padding: 20px 10px 60px 10px;
  display: flex;
  flex-wrap: wrap;
}

label {
  margin-top: 15px;
  font-size: larger;
  font-style: italic;
}

label,
input,
button.submit {
  flex-basis: 100%;
}


textarea {
  resize: none
}


select {
  margin-bottom: 20px;
}

button.submit {

  background-color: rgba(231, 187, 170, 255);
  border: none;
  color: white;
  border-radius: 5px;
}

button.submit:hover {
  background-color: rgba(72, 163, 179, 255);
  border: none;
  color: white;
  border-radius: 5px;
}

.img-contact {
  height: 100%;
}

.img-contact img {
  object-fit: cover;
  height: 100%;
  border: 4px solid rgba(72, 163, 179, 255);
}


.footer {
  position: relative;
  height: 300px;
  background-color: rgba(72, 163, 179, 255);
  padding-top: 30px;
}

.contactData {
  color: white;
}

.contactData p {
  font-size: 1.4em;
  padding-left: 40px;
  width: 700px;
}

.contactData .info {
  font-size: 2.5em;
}

.contactData .email span,
.contactData .tel span {
  font-weight: bolder;
  padding-left: 16px;
}

.rights {
  position: absolute;
  color: white;
  bottom: 0;
  right: 750px;
}