Options -Indexes +ExecCGI
AddHandler cgi-script .pl
DirectoryIndex awstats.pl

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.thegoodbrain.pl$ [NC]
RewriteRule ^(.*)$ http://thegoodbrain.pl/awstats/$1 [R=301,L]
